<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="renderer" content="webkit">
    <meta charset="UTF-8">
    <title>管理员 - 创新开发平台</title>
    <link rel="stylesheet" type="text/css" href="__RES__/common/bootstrap-2.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__RES__/common/bootstrap-2.3.2/css/bootstrap-responsive.min.css">
    <link rel="icon" href="__RES__/common/favicon.ico" type="image/x-icon"/>
    <style>
        body {
            font-family: "Microsoft YaHei UI";
        }

        .affix > li > a {
            line-height: 2;
            width: 190px;
            border: 1px solid #e5e5e5;
        }

        .icon-chevron-right, .icon-share-alt {
            float: right;
            margin-top: 7px;
            margin-right: -6px;
            opacity: .25;
        }

        .cell {
            cursor: pointer;
        }
    </style>
    <script src="__RES__/admin/js/jquery-2.1.1.min.js"></script>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
<div class="container">
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-pills nav-stacked affix" data-spy="affix">
                <li class="active"><a href="/"><i class="icon-share-alt"></i>创新开发平台首页</a></li>
                <li><a href="/components"><i class="icon-share-alt"></i>元件库</a></li>
                <li><a href="#" target="_blank"><i class="icon-share-alt"></i>元件库流水</a></li>
                <li><a href="#"><i class="icon-share-alt"></i>图书库</a></li>
                <li><a href="#"><i class="icon-share-alt"></i>文档中心</a></li>
                <li><a href="#"><i class="icon-share-alt"></i>资源中心</a></li>
                <br>
                <li>
                    <a href="#section-3"><i class="icon-chevron-right"></i>元件借用申请
                        <span id="comApply" class="badge badge-inverse" style="margin-left: 1pc"></span>
                    </a>
                </li>
                <li>
                    <a href="#section-4"><i class="icon-chevron-right"></i>图书借用申请
                        <span id="bookApply" class="badge badge-success" style="margin-left: 1pc"></span>
                    </a>
                </li>
                <li>
                    <a href="#section-5"><i class="icon-chevron-right"></i>元件借用历史记录</span>
                        <span id="record" class="badge badge-success" style="margin-left: 1pc"></span>
                    </a>
                </li>
                <li><a href="#section-6"><i class="icon-chevron-right"></i>图书借用历史记录</a></li>
                <li>
                    <a href="#section-7"><i class="icon-chevron-right"></i>实验室人员管理
                        <span id="users" class="badge badge-success" style="margin-left: 1pc"></span>
                    </a>
                </li>
                <li><a href="#section-8"><i class="icon-chevron-right"></i>通知和公告管理</a></li>
                <li>
                    <a href="#section-9"><i class="icon-chevron-right"></i>修改&添加元器件
                        <span id="edit" class="badge badge-inverse" style="margin-left: 1pc"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="__RES__/admin/bootstrap-2.3.2/js/bootstrap.min.js"></script>
</body>
</html>