<html>
<head>
    <meta charset=UTF-8>
    <title>智能云开关</title>
    <link rel="icon" href="__RRES__/ss/favicon.ico" type="image/x-icon"/>
    <link rel=stylesheet type="text/css" href="__RES__/ss/style.css">
</head>
<body>
<div class="water"></div>
<div class="water-bottom"></div>
<div class="infinity">
    <div class="thank-out"><img class="oldman" src="__RES__/ss/img/oldman.png">
        <div class="text-thank" style=margin-bottom:20px;>感谢您使用</div>
        <div class="for">Thank You For Using</div>
        <img src="__RES__/ss/img/title.png"></div>
</div>
<div class="clouds clouds1"></div>
<div class="clouds clouds2"></div>
<div class="clouds clouds3"></div>
<div class="clouds clouds4"></div>
<div class="clouds clouds5"></div>
<div class="monster"></div>
<div class="ad" style="bottom:100px;">
    <a href="HpuCloud.apk"><img src="__RES__/ss/img/code.png" width="200px"></a><br>
    <p style="text-align: center;color: #ffef16">Android 端（点击二维码可直接下载）</p>
</div>
<p style="position: absolute;bottom: 20px;right: 50px;z-index: 9;font-size: 12px">Copyright 2017 1420实验室 河南理工大学</p>
</body>
</html>